@inherits LayoutComponentBase

<PageTitle>Fadeev.PRO</PageTitle>

<div class="layout">
    <header class="top-bar">
        <span class="logo">🧑‍💻 Fadeev.PRO</span>
        <NavMenu />
    </header>

    <main class="main-content">
        @Body
    </main>
</div>
