@page "/"

<PageTitle>Home</PageTitle>

<section class="fade-in">
    <h1 class="text-4xl font-bold mb-4">Hi, I'm Dima 👋</h1>
    <p class="text-lg text-gray-300 mb-6">
         A regular .NET developer. In love width clean code.
    </p>
    <p class="text-md text-gray-400">
        This is a place you can find out more about me.
    </p>
</section>