@page "/"

<section class="fade-in">
    <h1 class="text-4xl font-bold mb-4">Hi, I'm Dima 👋</h1>
    <p class="text-lg text-gray-300 mb-6">
        A regular .NET developer. In love with clean code.
    </p>
    <p class="text-md text-gray-400">
        This is a place you can find out more about me. First I invite you to check my career timeline below
    </p>
    <ul class="timeline" role="list">
        <li class="timeline-item" role="listitem">
            <div class="timeline-item-date-start">2024-07</div>
            <div class="timeline-item-company-name">SEBN</div>
            <div class="timeline-item-name">.NET Developer</div>
            <div class="timeline-item-description">
                Currently working on a MES system which steers all production areas in
                SEBN company which produces automotive wire harness
            </div>
            <ul class="skills">
                <li>.NET</li>
                <li>C#</li>
            </ul>
        </li>

        <li class="timeline-item" role="listitem">
            <div class="timeline-item-date-start">2018-09</div>
            <div class="timeline-item-company-name">SEBN MD</div>
            <div class="timeline-item-name">Senior IT Systems Engineer</div>
            <div class="timeline-item-description">
                Developing services for IT and other departments using GoLang/ReactJS, deploying on Docker/Kubernetes.
                Examples: applications for finance, material inventory using WiFi terminals connected via SSH/Telnet to
                a Golang app with terminal UI, ERP system integrations, and specific MES systems with proprietary DBs.
            </div>
            <ul class="skills">
                <li>Linux</li>
                <li>Docker</li>
                <li>Golang</li>
            </ul>
        </li>
    </ul>

</section>